* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: syste, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.movie {
  display: flex;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray;
}

.movie-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}
